pip>=25.2
setuptools>=75.0
wheel
streamlit
streamlit-chat
streamlit-audiorec
google-generativeai
python-dotenv
sentence-transformers
scikit-learn
scipy
torch
transformers
rank-bm25
langchain-text-splitters
PyPDF2
gTTS
SpeechRecognition
pygame

