streamlit
streamlit-chat
torch
transformers
sentence-transformers
scikit-learn
faiss-cpu
google-generativeai
google-cloud-texttospeech
PyPDF2
python-docx
langchain-text-splitters
pandas
rank-bm25
nltk
gTTS
pygame
SpeechRecognition
PyAudio
pydub
simpleaudio
python-dotenv
altair
black
